@import "reset.css";

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
}
body {
	background-color: silver;
}
.content__container {
	max-width: 100%;
	padding: 50px 200px ;
}
.content__translate-cube { 
	width: 400px;
	height: 400px;
	background-color: gray;
	margin-bottom: 150px;
}
.content__translate {
	width: 400px;
	height: 400px;
	background-image: url('../img/flower.jpeg');
	opacity: 0.8;
	transform: translate(20%,20%);
}
.content__translate:hover {
	transform: translate(0);
}
.content__scale-cube {
	width: 400px;
	height: 400px;
	background-color: gray;
	margin-bottom: 150px;
}
.content__scale {
	width: 400px;
	height: 400px;
	background-image: url('../img/flower.jpeg');
	opacity: 0.8;
	transform: scale(0.1);
}
.content__scale:hover {
	transform: scale(1);
}
.content__rotate-cube {
	width: 400px;
	height: 400px;
	background-color: gray;
   margin-bottom: 150px;
}
.content__rotate {
   width: 400px;
   height: 400px;
	background-image: url('../img/flower.jpeg');
   opacity: 0.8;
   transform: rotate(50deg);
}
.content__rotate:hover {
   transform: rotate(0deg);
}
.content__skew-cube {
   width: 400px;
   height: 400px;
   background-color: gray;
   margin-bottom: 150px;
}
.content__skew {
   width: 400px;
   height: 400px;
   background-image: url('../img/flower.jpeg');
   opacity: 0.8;
   transform: skew(20deg);
}
.content__skew:hover {
   transform: skew(0deg);
}
.content__oll-cube {
   width: 400px;
   height: 400px;
   background-color: gray;
   margin-bottom: 150px;
}
.content__oll {
   width: 400px;
   height: 400px;
   background-image: url('../img/flower.jpeg');
   opacity: 0.8;
   transform: translate(20%, 20%) scale(0.5) rotate(30deg);
}
.content__oll:hover {
   transform: translate(0) scale(1) rotate(0deg);
}
.content__origin-cube {
   width: 400px;
	height: 400px;
   background-color: gray;
   margin-bottom: 150px;
}
.content__origin {
   width: 400px;
   height: 400px;
	background-image: url('../img/flower.jpeg');
   opacity: 0.8;
   transform-origin: 0px 50px;
   transform: rotate(20deg);
}
.content__origin:hover {
   transform-origin: center;
   transform: rotate(0deg);
}
.content__perspective-cube {
   width: 400px;
   height: 400px;
   background-color: gray;
   margin-bottom: 150px;
   perspective: 100px;
	perspective-origin:center;
}
.content__perspective {
   width: 400px;
   height: 400px;
   background-image: url('../img/flower.jpeg');
   opacity: 0.8;
   transform: rotateX(10deg);
}
.content__perspective:hover {
	transform: rotateX(0deg);
}
.content__perspective-rotate-cube {
	width: 400px;
   height: 400px;
   background-color: gray;
   margin-bottom: 150px;
   perspective: 200px;
	perspective-origin:center;
}
.content__perspective-rotate {
   width: 400px;
   height: 400px;
   background-image: url('../img/flower.jpeg');
   opacity: 0.8;
   transform: rotate3d(12, 14, 20, 20deg);
}
.content__perspective-rotate:hover {
   transform: rotate3d(1, 1, 1, 0deg);
}
.content__style-cube {
   width: 400px;
   height: 400px;
   background-color: gray;
   margin-bottom: 100px;
   perspective: 200px;
   transform-style: preserve-3d;
	opacity: 0.8;
}
.content__style {
   width: 400px;
   height: 400px;
   background-image: url('../img/flower.jpeg');
   opacity: 0.8;
   transform: rotateY(20deg);
}
.content__style:hover {
   transform: rotateY(0deg);
}

